.details-container {
    width: 100%;
    height: auto;
    padding-top: 5rem;
    margin-bottom: 5rem;
}

.buttons-container {
    width: 100%;
}
@media(min-width: 1700px) {
    .products-container {
        padding-inline:  15rem !important;
    }
}
@media(width: 1680px) {
    .products-container {
        padding-inline:  10rem !important;
    }
}

.add-to-cart {
    width: 50%;
    color: #fff;
    border-radius: 0%;
    font-weight: 500;
}
.add-to-cart-link {
    display: inline-block;
    width: 100%;
    color: inherit;
    text-decoration: none;
}
.add-to-cart-link:hover {
    color: inherit
}

.color {
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 50%;
}

.increment,
.decrement {
    width: 30%;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity {
    font-size: 1.7rem;
    line-height: 2.3rem;
    text-align: center;
    border: 1px solid;
    width: 40%;
    height: auto;
}


.details-row {
    margin-top: 8rem;
}

.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9d9d9d;
    padding-left: 2rem;
    padding-right: 2rem;
}

.tab button {
    width: 100%;
    border: none;
    background: none;
}

.tab {
    width: 34%;
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    text-align: center;
    cursor: pointer;
}

.tab:hover {
    background: #dfdfdf;
}

.active-tab {
    border: 1px solid #9d9d9d;
    border-bottom: none;
}

.active-tab:hover {
    background: #fff;
}

.tabs-content {
    padding-top: 3rem;
    min-height: 40vh;
}

.tab-content {
    display: none;
}

.active-tab-content {
    display: block;
}


/* Review Card */

.review-card {
    width: 75%;
}

.avatar {
    width: 4rem;
}

/* Product Reveiws */
.responsive-accordions {
    display: none;
}

.product-reviews-container {
    width: 55%;
}

.rating-bar {
    width: 83%;
}

/* Simillar Products */
.simillar-products-grid {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

@media (min-width: 768px) {
    .add-to-cart {
        font-size: 0.7rem;
    }
}

@media (min-width: 990px) {
    .add-to-cart {
        font-size: 1rem;
    }
}

@media (max-width: 990px) {

    .tab h5 {
        font-size: 0.7rem;
    }

    .rates span {
        display: none;
    }

    .rating-bar {
        display: none;
    }
}

@media (max-width: 450px) {
    .details-container {
        width: 100vw;
    }

    .details-and-reviews-section {
        display: none;
    }

    .responsive-accordions {
        display: block;
    }

    .details-row {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .product-reviews-container {
        width: 100%;
        margin-bottom: 5rem;
    }

    .review-card {
        width: 100%;
    }

    .rate-this-product {
        display: grid;
        justify-content: center;
    }
}