body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  height: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Scroll Bar Style */

@media (min-width: 990px) {

  ::-webkit-scrollbar {
      background: rgba(0, 0, 0, 0.7);
      width: 6px;
  }
  
  ::-webkit-scrollbar-track {
      border: 5px solid;
      border-radius: 5px;
      /* width: 7px; */
  }
  
  ::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.5);
  }
}

.rating span {
  /* color: #ffc000; */
  font-size: 0.9rem;
}