.card-container {
    min-width: 19.15vw;
    margin: 0 5px;
    user-select: none;
    border: none;
    border-radius: 0%;
}
.product-image {
    height: 55vh;
    border-radius: 0%;
    object-fit: cover;
}
@media(min-width: 1425px) {
    .card-container {
        width: 19.4vw;
    }
}

@media(max-width: 990px) {
    .card-container {
        width: 32.4vw;
    }
    .product-image {
        height: 23rem;
    }
}

@media(max-width: 768px) {
    .card-container {
        width: 32vw;
    }
    .product-image {
        height: 20rem;
    }
}
@media(max-width: 540px) {
    .category-card-container {
      width: 50vw;  
    }
}

@media(max-width: 450px) {
    .card-container {
        width: 99vw;
        margin: 0 0.5vw;
    }
}

.product-card {
    position: relative;
    width: 100%;
    height: auto;
}

.product-card .text {
    font-size: 1rem;
    padding: 0.7rem 1rem;
}

.product-card:hover .image {
    opacity: 0.3;
}

.product-card:hover .middle {
    opacity: 1;
}

@media (min-width: 1403px) {
    
    .card-container {
        min-width: 20rem;
    }

    .product-card {
        position: relative;
        min-width: 19.3rem;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .card-container {
        min-width: 14rem;
    }
}


@media (max-width: 450px) {
    .card-container {
        min-width: 87vw;
    }
}

.color-circle {
    padding: 0.6rem;
    border: 1px solid;
    border-radius: 50%;
    margin: 0.1rem;
}
